NodeRedFlow.json
[{"id":"1f0c370078dee7fb","type":"tab","label":"To E-Ink","disabled":false,"info":"","env":[]},{"id":"8dda13987a67e02c","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/update","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":630,"y":100,"wires":[]},{"id":"a815d6829faa07a9","type":"mqtt in","z":"1f0c370078dee7fb","name":"","topic":"daly_bms","qos":"2","datatype":"auto-detect","broker":"c17a59ec7940238d","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1840,"wires":[["c7b19ef518bd8f8e"]]},{"id":"c7b19ef518bd8f8e","type":"debug","z":"1f0c370078dee7fb","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":1830,"wires":[]},{"id":"c4417b14e5c0a4c2","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":300,"wires":[]},{"id":"b763692d95b4d0a5","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":400,"wires":[]},{"id":"f817fe68a5a0ce0f","type":"inject","z":"1f0c370078dee7fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":140,"y":100,"wires":[["478ab58b12594c02","2101cf768e899b85","12a1eebb2eebb6af"]]},{"id":"16c66b5c9e931482","type":"mqtt in","z":"1f0c370078dee7fb","name":"State","topic":"rtl_433/9b13b3f4-rtl433/devices/Nexa-Security/3/1085082/state","qos":"2","datatype":"utf8","broker":"c17a59ec7940238d","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1990,"wires":[["e8749dc009f39b47"]]},{"id":"4284ea5d4a350850","type":"mqtt in","z":"1f0c370078dee7fb","name":"Unit","topic":"rtl_433/9b13b3f4-rtl433/devices/Nexa-Security/3/1085082/unit","qos":"2","datatype":"utf8","broker":"c17a59ec7940238d","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1940,"wires":[["1447ed4289e360e9"]]},{"id":"1447ed4289e360e9","type":"change","z":"1f0c370078dee7fb","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"unit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1940,"wires":[["0b6fc6b3da2a0102"]]},{"id":"e8749dc009f39b47","type":"change","z":"1f0c370078dee7fb","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1990,"wires":[["0b6fc6b3da2a0102"]]},{"id":"0b6fc6b3da2a0102","type":"join","z":"1f0c370078dee7fb","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":1960,"wires":[["ccae8f68bb29f69d"]]},{"id":"ccae8f68bb29f69d","type":"function","z":"1f0c370078dee7fb","name":"Evaluate","func":"var unit = msg.payload.unit\nvar state = msg.payload.state\nnode.warn(\"Unit: \" + unit)\nnode.warn(\"State: \" + state)\nvar out\nvar state\n\nif (unit = \"2\")\n{\n    if (state = \"ON\")\n    {\n        state = \"turn_on\"\n    }\n    else\n    {\n        state = \"turn_off\"\n    }\n    //Set Override switch on or off\n    out = {\n        \"domain\": \"switch\",\n        \"service\": state,\n        \"target\": {\n            \"entity_id\": [\"switch.xxxxxx\"]\n        }\n    }\n    node.warn(\"Payload Unit2: \" + out)\n}\n\nif (unit = \"3\") \n{\n    if (state = \"ON\") \n    {\n        state = \"turn_on\"\n    }\n    else\n     {\n        state = \"turn_off\"\n    }\n\n    //Set Override switch on or off\n    out = {\n        \"domain\": \"switch\",\n        \"service\": state,\n        \"target\": {\n            \"entity_id\": [\"switch.xxxxxx\"]\n        }\n    }\n    node.warn(\"Payload Unit3: \" + out)\n}\n\nvar msg = { payload: out };\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1960,"wires":[[],[]]},{"id":"71b1d0522b4eeff1","type":"comment","z":"1f0c370078dee7fb","name":"Alternativ 1 - Om båda MQTT topic alltid uppdateras samtidigt","info":"","x":320,"y":1890,"wires":[]},{"id":"d85d24788fa6ba60","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperaturer:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["c4417b14e5c0a4c2"]]},{"id":"604b09e6724400fc","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kyl","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":350,"wires":[["59a2727ff5d9382a"]]},{"id":"59a2727ff5d9382a","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":350,"wires":[]},{"id":"f6b778ea805054d5","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":500,"wires":[]},{"id":"4879e65f58e54eb8","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fram","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":450,"wires":[["64bf91f770f36911"]]},{"id":"64bf91f770f36911","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":450,"wires":[]},{"id":"678f0ed0c2e034d7","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":620,"wires":[]},{"id":"1eede3f66c5494cd","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kabin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":560,"wires":[["e70720ae9e28cbdb"]]},{"id":"e70720ae9e28cbdb","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":560,"wires":[]},{"id":"de8b3156e7cd4105","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":240,"wires":[]},{"id":"63a48c5d2dcb707d","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":340,"wires":[]},{"id":"383cdfd634202ec8","type":"change","z":"1f0c370078dee7fb","name":"Batterier","rules":[{"t":"set","p":"payload","pt":"msg","to":"Batterier:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":240,"wires":[["de8b3156e7cd4105"]]},{"id":"219e5c84441d9687","type":"change","z":"1f0c370078dee7fb","name":"Volt Shunt","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volt Shunt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":290,"wires":[["907a7313db28fa4e"]]},{"id":"907a7313db28fa4e","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":290,"wires":[]},{"id":"ce3f0b9e6494e959","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":580,"wires":[]},{"id":"43dedded7a67ca07","type":"change","z":"1f0c370078dee7fb","name":"SoC Shunt","rules":[{"t":"set","p":"payload","pt":"msg","to":"SoC Shunt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":650,"wires":[["e652ac7057b7d96b"]]},{"id":"7efde6afcced1c44","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":530,"wires":[]},{"id":"5c6ebc3d95c664b7","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":460,"wires":[]},{"id":"62ae2d8ccef513da","type":"change","z":"1f0c370078dee7fb","name":"Volt Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volt Start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":530,"wires":[["7efde6afcced1c44"]]},{"id":"aed3adc77e7368e3","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":410,"wires":[]},{"id":"93a7f720747c2421","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/clear","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":40,"wires":[]},{"id":"58281a8303605c39","type":"inject","z":"1f0c370078dee7fb","name":"Clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"clear","payloadType":"str","x":420,"y":40,"wires":[["93a7f720747c2421"]]},{"id":"a46fed4cb8d38e2a","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c1r1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":240,"wires":[]},{"id":"962c6e1cbd6a8422","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c2r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":340,"wires":[]},{"id":"95da1885612c2c73","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Plotter:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":240,"wires":[["a46fed4cb8d38e2a"]]},{"id":"bf0a767e9dc85d6c","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Djup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":290,"wires":[["b50f4b632df04807"]]},{"id":"b50f4b632df04807","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c1r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":290,"wires":[]},{"id":"edc05987391c8ce7","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c2r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":580,"wires":[]},{"id":"2cc4448ff13a60e0","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tripp Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":520,"wires":[["ceba3c8f10f05aee"]]},{"id":"ceba3c8f10f05aee","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c1r4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":520,"wires":[]},{"id":"0ba7d5c2ed5f31f6","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c2r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":460,"wires":[]},{"id":"156d07140fe38078","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temp Vatten ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":400,"wires":[["c7cde9c49d652567"]]},{"id":"c7cde9c49d652567","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c1r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1860,"y":400,"wires":[]},{"id":"dc752bd66851b8ce","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/col1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":500,"y":1700,"wires":[]},{"id":"9b389cfb96a420e5","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1700,"wires":[["dc752bd66851b8ce"]]},{"id":"fbfa013801b94693","type":"inject","z":"1f0c370078dee7fb","name":"Clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"clear","payloadType":"str","x":160,"y":1700,"wires":[["9b389cfb96a420e5"]]},{"id":"64aa918862c51313","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.refrigerator.temperature","source":"","period":"10000","x":280,"y":400,"wires":[["ee7d14f963911a0c","604b09e6724400fc","d85d24788fa6ba60"]]},{"id":"3fe650bc7ef5eabf","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.refrigerator.temperature","source":"","period":"1000","x":170,"y":1750,"wires":[["fc08f05040e8c9ea"]]},{"id":"fc08f05040e8c9ea","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1750,"wires":[["d03b8afbc03c254e"]]},{"id":"d03b8afbc03c254e","type":"debug","z":"1f0c370078dee7fb","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1750,"wires":[]},{"id":"db5ee707b507dfc7","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.venus.21.temperature","source":"","period":"10000","x":280,"y":500,"wires":[["453725b1a9b71c6a","4879e65f58e54eb8"]]},{"id":"7d2e269a8d98ccf4","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.ATC_894848.temperature","source":"","period":"10000","x":280,"y":620,"wires":[["9496a845dc0eed0b","1eede3f66c5494cd"]]},{"id":"ee7d14f963911a0c","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":400,"wires":[["b763692d95b4d0a5"]]},{"id":"453725b1a9b71c6a","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["f6b778ea805054d5"]]},{"id":"9496a845dc0eed0b","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":620,"wires":[["678f0ed0c2e034d7"]]},{"id":"ca19fd93ccbe6b2c","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":740,"wires":[]},{"id":"3138b73a21c6e308","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mid-Kabin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":680,"wires":[["f4bd2c9d0b837f88"]]},{"id":"f4bd2c9d0b837f88","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":680,"wires":[]},{"id":"5956f915917e6c61","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.ATC_5309E0.temperature","source":"","period":"10000","x":280,"y":740,"wires":[["c42de7732b328cc5","3138b73a21c6e308"]]},{"id":"c42de7732b328cc5","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":740,"wires":[["ca19fd93ccbe6b2c"]]},{"id":"bb7c654d364acd36","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r6","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":860,"wires":[]},{"id":"ff7c7b8347f7e95c","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Motorrum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":800,"wires":[["2a602fcf90820da4"]]},{"id":"2a602fcf90820da4","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r6","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":800,"wires":[]},{"id":"76680ed5212edd0e","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.venus.22.temperature","source":"","period":"60000","x":280,"y":860,"wires":[["48048713b361541c","ff7c7b8347f7e95c"]]},{"id":"48048713b361541c","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":860,"wires":[["bb7c654d364acd36"]]},{"id":"f6efd1f9e6774a2d","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r7","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":980,"wires":[]},{"id":"cbfe51f11b98d226","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":920,"wires":[["8ef7730ff7da99b8"]]},{"id":"8ef7730ff7da99b8","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r7","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":920,"wires":[]},{"id":"4b64fc856b8ae1a5","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":980,"wires":[["f6efd1f9e6774a2d"]]},{"id":"204a882386c37e1e","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r9","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":1200,"wires":[]},{"id":"a20a2aead694d80c","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lufttryck","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1150,"wires":[["47c9b8ed03330672"]]},{"id":"47c9b8ed03330672","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r9","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":1150,"wires":[]},{"id":"ebdea1db0d5566f2","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.outside.pressure","source":"","period":"10000","x":270,"y":1200,"wires":[["6db820c3a8f977ab","a20a2aead694d80c"]]},{"id":"6db820c3a8f977ab","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload / 100\nmsg.payload = msg.payload.toFixed(0) + \"\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1200,"wires":[["204a882386c37e1e"]]},{"id":"6f470441fb2fc294","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.289.voltage","source":"","period":"10000","x":920,"y":340,"wires":[["3bd99386e9b71f4d","219e5c84441d9687","383cdfd634202ec8"]]},{"id":"3bd99386e9b71f4d","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload.toFixed(2) + \"V\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":340,"wires":[["63a48c5d2dcb707d"]]},{"id":"77d4ef317d3de096","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.289-second.voltage","source":"","period":"10000","x":920,"y":580,"wires":[["6b32250132ce6f01","62ae2d8ccef513da"]]},{"id":"6b32250132ce6f01","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload.toFixed(2) + \"V\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":580,"wires":[["ce3f0b9e6494e959"]]},{"id":"dfb1f7f50e890172","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.289.capacity.stateOfCharge","source":"","period":"10000","x":920,"y":700,"wires":[["6519177ff5c7e145","43dedded7a67ca07"]]},{"id":"6519177ff5c7e145","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 100\nmsg.payload = msg.payload.toFixed(1) + \"%\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":700,"wires":[["c3b9695b20b68ea3"]]},{"id":"c3b9695b20b68ea3","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":700,"wires":[]},{"id":"a35e442475d15df9","type":"change","z":"1f0c370078dee7fb","name":"SoC BMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"SoC BMS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":770,"wires":[["b7af216bcb3670ab"]]},{"id":"e652ac7057b7d96b","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":650,"wires":[]},{"id":"5393a70931b70259","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.3.capacity.stateOfCharge","source":"","period":"10000","x":920,"y":800,"wires":[["03fa5011c3e3f5d4","a35e442475d15df9"]]},{"id":"03fa5011c3e3f5d4","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 100\nmsg.payload = msg.payload.toFixed(1) + \"%\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":820,"wires":[["d673cd9dfda7c58b"]]},{"id":"d673cd9dfda7c58b","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r6","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":820,"wires":[]},{"id":"b7af216bcb3670ab","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r6","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":770,"wires":[]},{"id":"3d2c66ca53b02026","type":"change","z":"1f0c370078dee7fb","name":"Volt BMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volt BMS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":410,"wires":[["aed3adc77e7368e3"]]},{"id":"2d6702ef2e6cc644","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.3.voltage","source":"","period":"10000","x":920,"y":440,"wires":[["0cda85b8cd616e33","3d2c66ca53b02026"]]},{"id":"0cda85b8cd616e33","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload.toFixed(2) + \"V\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":460,"wires":[["5c6ebc3d95c664b7"]]},{"id":"a6017f67b1668567","type":"change","z":"1f0c370078dee7fb","name":"Sol idag","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sol idag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1020,"wires":[["dcb837aee3731566"]]},{"id":"37ed507b2d714ee0","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.solar.289.yieldToday","source":"","period":"10000","x":920,"y":1070,"wires":[["ee1092ae44360f6d","a6017f67b1668567"]]},{"id":"ee1092ae44360f6d","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 0.0002777778\nmsg.payload = msg.payload / 13.3\nmsg.payload = msg.payload.toFixed(1) + \"Ah\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1070,"wires":[["d70675fba79bec7d"]]},{"id":"d70675fba79bec7d","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r8","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":1070,"wires":[]},{"id":"dcb837aee3731566","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r8","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":1020,"wires":[]},{"id":"648e08fb79bdb80d","type":"change","z":"1f0c370078dee7fb","name":"Sol igår","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sol igar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1140,"wires":[["1cbaa46ce5428056"]]},{"id":"6e420842c98a936f","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.solar.289.yieldYesterday","source":"","period":"10000","x":920,"y":1190,"wires":[["dbc8475f2bdb5d27","648e08fb79bdb80d"]]},{"id":"dbc8475f2bdb5d27","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 0.0002777778\nmsg.payload = msg.payload / 13.3\nmsg.payload = msg.payload.toFixed(1) + \"Ah\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1190,"wires":[["d039fae0d88fd411"]]},{"id":"d039fae0d88fd411","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r9","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":1190,"wires":[]},{"id":"1cbaa46ce5428056","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r9","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":1140,"wires":[]},{"id":"e4fbcf5bb04ec1f5","type":"function","z":"1f0c370078dee7fb","name":"function 3","func":"var hour = parseInt(msg.myhour)\nhour = hour + 2\nmsg.payload = hour + \":\" + msg.myminute\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["8dda13987a67e02c"]]},{"id":"601b5a2707dcedb0","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/col2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":150,"wires":[]},{"id":"e003e682a11d0120","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/col4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":200,"wires":[]},{"id":"2101cf768e899b85","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"145","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":150,"wires":[["601b5a2707dcedb0"]]},{"id":"12a1eebb2eebb6af","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"340","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["e003e682a11d0120"]]},{"id":"69e007e8fd9adca3","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"10000","x":1510,"y":340,"wires":[["3034be89a43fba26","bf0a767e9dc85d6c"]]},{"id":"3034be89a43fba26","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload.toFixed(1) + \"m\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":340,"wires":[["962c6e1cbd6a8422"]]},{"id":"f6aaec494b14a60d","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.water.temperature","source":"Lowrance.SD","period":"10000","x":1510,"y":460,"wires":[["51288441163c0870","156d07140fe38078"]]},{"id":"51288441163c0870","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":460,"wires":[["0ba7d5c2ed5f31f6"]]},{"id":"f6d811167606561d","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.trip.log","source":"","period":"10000","x":1510,"y":580,"wires":[["6c6103603cc494e2","2cc4448ff13a60e0"]]},{"id":"6c6103603cc494e2","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload.toFixed(1) + \"m\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":580,"wires":[["edc05987391c8ce7"]]},{"id":"3e0394461f5e0f8a","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.4.voltage","source":"","period":"10000","x":920,"y":480,"wires":[["0cda85b8cd616e33","3d2c66ca53b02026"]]},{"id":"a0f271d6d5ff068c","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.4.capacity.stateOfCharge","source":"","period":"10000","x":920,"y":840,"wires":[["03fa5011c3e3f5d4","a35e442475d15df9"]]},{"id":"058d0686734a8f3f","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.outside.temperature","source":"","period":"10000","x":270,"y":980,"wires":[["4b64fc856b8ae1a5","cbfe51f11b98d226"]]},{"id":"eb0c45eac5f54205","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c4r7","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":950,"wires":[]},{"id":"5e7f15f982468c5c","type":"change","z":"1f0c370078dee7fb","name":"Temp Batt.","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temp Batt.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":900,"wires":[["754a463382354817"]]},{"id":"754a463382354817","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c3r7","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":1240,"y":900,"wires":[]},{"id":"c8bd607642905b27","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.3.temperature","source":"","period":"10000","x":910,"y":930,"wires":[["52fb8fd46a425683","5e7f15f982468c5c"]]},{"id":"52fb8fd46a425683","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":950,"wires":[["eb0c45eac5f54205"]]},{"id":"a6d94c564fa001b7","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.4.temperature","source":"","period":"10000","x":910,"y":970,"wires":[["52fb8fd46a425683","5e7f15f982468c5c"]]},{"id":"8345cda59647b83f","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c2r8","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":1080,"wires":[]},{"id":"bb0df091273d93ca","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/c1r8","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":620,"y":1030,"wires":[]},{"id":"a44b0d09c7b43d0c","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Vatten","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1030,"wires":[["bb0df091273d93ca"]]},{"id":"a6231c962f1fe66d","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.water.temperature","source":"ws.346b1890-fc93-6ccf-90b2-55db674d4272.XX","period":"10000","x":270,"y":1080,"wires":[["ff96c56809e9e2e6","a44b0d09c7b43d0c"]]},{"id":"ff96c56809e9e2e6","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload - 273.15\nmsg.payload = msg.payload.toFixed(1) + \"*\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1080,"wires":[["8345cda59647b83f"]]},{"id":"c8198ccf931a5c38","type":"inject","z":"1f0c370078dee7fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":220,"y":300,"wires":[["d85d24788fa6ba60","604b09e6724400fc","4879e65f58e54eb8","1eede3f66c5494cd","3138b73a21c6e308","ff7c7b8347f7e95c","cbfe51f11b98d226","a44b0d09c7b43d0c","a20a2aead694d80c"]]},{"id":"74a8151becc5c3dc","type":"inject","z":"1f0c370078dee7fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":860,"y":240,"wires":[["383cdfd634202ec8","219e5c84441d9687","3d2c66ca53b02026","62ae2d8ccef513da","43dedded7a67ca07","a35e442475d15df9","5e7f15f982468c5c","a6017f67b1668567","648e08fb79bdb80d"]]},{"id":"09cc4a19c14646ab","type":"inject","z":"1f0c370078dee7fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":1480,"y":240,"wires":[["95da1885612c2c73","bf0a767e9dc85d6c","156d07140fe38078","2cc4448ff13a60e0"]]},{"id":"a4706b1d634857e2","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c3r1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":2500,"y":240,"wires":[]},{"id":"c4fc0f6340f680ea","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c4r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":2500,"y":340,"wires":[]},{"id":"9153e5eb54f5de20","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dieseltankar:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":240,"wires":[["a4706b1d634857e2"]]},{"id":"05d98342b494b2f6","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Babord","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":290,"wires":[["5048aa9ef5ea7cf4"]]},{"id":"5048aa9ef5ea7cf4","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c3r2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":2500,"y":290,"wires":[]},{"id":"c0139f6a0f12cf76","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c4r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":2500,"y":460,"wires":[]},{"id":"f564adb9103c8c31","type":"change","z":"1f0c370078dee7fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Styrbord","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":400,"wires":[["900f16927563ac52"]]},{"id":"900f16927563ac52","type":"mqtt out","z":"1f0c370078dee7fb","name":"","topic":"eink/p2c3r3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c17a59ec7940238d","x":2500,"y":400,"wires":[]},{"id":"15f497d0ccfecd20","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.fuel.1.currentLevel","source":"","period":"10000","x":2150,"y":340,"wires":[["04f8d1d11b30d019","05d98342b494b2f6"]]},{"id":"04f8d1d11b30d019","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 100\nmsg.payload = msg.payload.toFixed(0) + \"%\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":340,"wires":[["c4fc0f6340f680ea"]]},{"id":"0d5872f8d1c55470","type":"signalk-subscribe","z":"1f0c370078dee7fb","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.fuel.2.currentLevel","source":"","period":"10000","x":2150,"y":460,"wires":[["a85344c75c32da5c","f564adb9103c8c31"]]},{"id":"a85344c75c32da5c","type":"function","z":"1f0c370078dee7fb","name":"add sign","func":"msg.payload = msg.payload * 100\nmsg.payload = msg.payload.toFixed(0) + \"%\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":460,"wires":[["c0139f6a0f12cf76"]]},{"id":"3213169af85a6734","type":"inject","z":"1f0c370078dee7fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":2140,"y":240,"wires":[["9153e5eb54f5de20","05d98342b494b2f6","f564adb9103c8c31"]]},{"id":"478ab58b12594c02","type":"simpletime","z":"1f0c370078dee7fb","name":"time","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":true,"mytime":true,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":280,"y":60,"wires":[["e4fbcf5bb04ec1f5"]]},{"id":"c17a59ec7940238d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]